#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects {
    margin-bottom: 3rem;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientDesc {
    font-weight: 400;
    font-size: 1.1rem;
    max-width: 50rem;
    padding: 0 2rem;
    padding-bottom: 1rem;
    text-align: center;
    margin: 0 auto;
}


.clientImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}

#clients {
    padding: 2rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    color: black;
    font-size: 1rem;
    text-align: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

/* Specific Styles for the Projects Section (My Projects) */
#contactPage #projects {
    margin-top: 50px;
}

#contactPage .projectsRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

#contactPage .worksSection {
    flex: 1 1 calc(33.33% - 20px);
    background-color: #373737;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 280px;
}

#contactPage .worksSection h3 {
    font-size: 1.5rem;
    color: rgb(255, 247, 0);
}

#contactPage .worksSection p {
    font-size: 1rem;
    color: #9a9898;
}

#contactPage .worksSection a {
    color: #1e88e5;
    text-decoration: none;
}

#contactPage .worksSection a:hover {
    text-decoration: underline;
}

@media (max-width: 720px) {
    #contactPage .projectsRow {
        padding: 0 30px;
    }

    #contactPage .worksSection {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    #contactPage .projectsRow {
        padding: 0 30px;
    }

    #contactPage .worksSection {
        width: 90%;
        margin: 0 auto;
    }
    .contactDesc { 
        display: block;
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
    }
}